<%- include ('./header') %>


    <h1 style="text-align: center;">Welcome To Our Application</h1>
    
       <div class="text-center pt-4">
        <a href="/signup" class="btn btn-primary link">Go SignUp</a>
        <a href="/login" class="btn btn-primary link">Go Login</a>
       </div>
        
</div>
</body>
</html>